@model PagHiper.Domain.Entities.Boleto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Boleto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApiKey" class="control-label"></label>
                <input asp-for="ApiKey" class="form-control" />
                <span asp-validation-for="ApiKey" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group">
                <label asp-for="PayerEmail" class="control-label"></label>
                <input asp-for="PayerEmail" class="form-control" />
                <span asp-validation-for="PayerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayerName" class="control-label"></label>
                <input asp-for="PayerName" class="form-control" />
                <span asp-validation-for="PayerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayerCpfCnpj" class="control-label"></label>
                <input asp-for="PayerCpfCnpj" class="form-control" />
                <span asp-validation-for="PayerCpfCnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayerPhone" class="control-label"></label>
                <input asp-for="PayerPhone" class="form-control" />
                <span asp-validation-for="PayerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayerStreet" class="control-label"></label>
                <input asp-for="PayerStreet" class="form-control" />
                <span asp-validation-for="PayerStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayerNumber" class="control-label"></label>
                <input asp-for="PayerNumber" class="form-control" />
                <span asp-validation-for="PayerNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayerComplement" class="control-label"></label>
                <input asp-for="PayerComplement" class="form-control" />
                <span asp-validation-for="PayerComplement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayerDistrict" class="control-label"></label>
                <input asp-for="PayerDistrict" class="form-control" />
                <span asp-validation-for="PayerDistrict" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayerCity" class="control-label"></label>
                <input asp-for="PayerCity" class="form-control" />
                <span asp-validation-for="PayerCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayerState" class="control-label"></label>
                <input asp-for="PayerState" class="form-control" />
                <span asp-validation-for="PayerState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayerZipCode" class="control-label"></label>
                <input asp-for="PayerZipCode" class="form-control" />
                <span asp-validation-for="PayerZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationUrl" class="control-label"></label>
                <input asp-for="NotificationUrl" class="form-control" />
                <span asp-validation-for="NotificationUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountCents" class="control-label"></label>
                <input asp-for="DiscountCents" class="form-control" />
                <span asp-validation-for="DiscountCents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingPriceCents" class="control-label"></label>
                <input asp-for="ShippingPriceCents" class="form-control" />
                <span asp-validation-for="ShippingPriceCents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingMethods" class="control-label"></label>
                <input asp-for="ShippingMethods" class="form-control" />
                <span asp-validation-for="ShippingMethods" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FixedDescription" /> @Html.DisplayNameFor(model => model.FixedDescription)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DaysDueDate" class="control-label"></label>
                <input asp-for="DaysDueDate" class="form-control" />
                <span asp-validation-for="DaysDueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeBankSlip" class="control-label"></label>
                <input asp-for="TypeBankSlip" class="form-control" />
                <span asp-validation-for="TypeBankSlip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

